.contentCustomDesign{
    @apply grid lg:grid-flow-col gap-5 max-w-lg lg:max-w-full m-auto;
}

.listCustomDesign{
    @apply grid grid-cols-[repeat(1,1fr)] lg:grid-cols-[repeat(2,1fr)] gap-5;
}

.itemCustomDesign{
    @apply grid grid-cols-2 items-center justify-items-center rounded-xl gap-5 px-5;
    background-color: #FFE9D9;
}

.imageCustomDesign img{
    @apply m-auto lg:max-w-[9vw] xl:max-w-[150px];
}

.imageCustomDesign{
    @apply flex rounded-xl m-3 min-h-[120px];
    background-color: #F2F2F2;
}

.titleCustomDesign{
    @apply text-primary text-base xl:text-xl font-bold;
}

.ActiveCustomDesign{
    @apply bg-primary;
}

.ActiveCustomDesign .titleCustomDesign{
    color:white
}

.itemSelectedCustomDesign{
    @apply p-5 rounded-xl flex flex-col justify-center min-w-[25vw];
    background-color: #DEDEDE;
}

.itemSelectedCustomDesignText{
    @apply text-center text-lg xl:text-2xl font-bold mt-5;
}